html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Gentium Book Basic', serif;
    font-size: 1.2em;
    margin: 1em;
}

.hamburger-icon {
  color: black;
  display: none;
}

.nav-item a {
    text-decoration: none;
    padding: 1em;
    color: black;
    font-size: 1.2em;
}

#my-logo-img {
    width: 40%;
    min-width: 50px;
    height: 40%;
    object-fit: contain;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav.center, .nav.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.nav.left {
    display: flex;
    align-items: center;
    padding: 1em;
}

.nav-item {
    display: flex;
    align-items: center;
}

#about-section {
    display: flex;
    align-items: center;
    margin: 10% 20%;
}

#about-me-p {
    margin-right: 10%;
    font-size: 1.3em;
}

#my-pic {
    border-radius: 50%;
    max-width: 20%;
    height: auto;
}

.projects-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-container {
    display: flex;
    flex-direction: column;
}

.project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 3%;
    width: 70vw;
}

.project.description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
}

.project-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.project.technologies {
    display: flex;
    flex-direction: row;
}

.project.technologies p {
    margin: 5%;
    color: gray;
}

.project.screenshot img {
    padding: 0;
    margin: 0;
    max-width: 500px;
    height: auto;
    object-fit: contain;
}

.project.screenshot img:hover {
    border: 2px solid lightgray;
}

.project-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.project-links a {
    margin: 2%;
    text-decoration: none;
}

.contact-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fs-frm {
    display: flex;
    flex-direction: column;
    width: 40vw;;
}

#fs-frm-inputs {
    margin-bottom: 2%;
    border: none;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-item label {
    margin: 2%;
    margin-left: 0;
}

.form-control {
    font-size: 1.5em;
}

#submit-btn {
    width: 25%;
}

#submit-btn-container {
    display: flex;
    justify-content: center;
}

#submit-btn {
    background-color: black;
    color: white;
    font-size: 1.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

#submit-btn:hover {
    cursor: pointer;
}

::-webkit-input-placeholder { 
    font-size: 0.7em;
}

@media only screen and (max-width: 1000px) {
  #about-section-container {
    width: 100vw;
  }

  #about-section {
    flex-direction: column-reverse;
    justify-content: center;
  }

  #my-pic {
    max-width:60%;
  }

  .project.description {
    width: 100%;
  }

  .project-container {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .about-project {
    margin: 0 5%;
  }

  .project.screenshot {
    display: flex;
    justify-content: center;
  }

  #fs-frm {
    width: 100vw;
  }
}

@media only screen and (max-width: 800px) {
  .hamburger-icon {
    display: inline;
  }

  .nav-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav.center, .nav.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
  }

  .nav-item a {
    padding: 0;
  }

  .nav.left {
    padding: 0;
    width: 90vw;
    justify-content: space-between;
  }

  ul {
    padding-inline-start: 0px;
  }

  ul.nav.center {
    margin-bottom: 0;
  }

  ul.nav.right {
    margin-top: 0;
  }

  ul.nav.right .nav-item{
    padding: 15%;
  }

  .navbar-logo{
    display: flex;
    justify-content: flex-end;
  }
  
  .nav.center, .nav.right {
    display: none;
  }

  .nav.center.responsive, .nav.right.responsive {
    display: block;
  }

}